# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environments
# ==========================================================

.venv/
venv/
env/

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# OS Files
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# Model Files
# ==========================================================

models/
*.keras
*.h5

# ==========================================================
# Python Cache
# ==========================================================

.pytest_cache/

# ==========================================================
# Environment Variables
# ==========================================================

.env

# ==========================================================
# Temporary Files
# ==========================================================

*.log